.puz4-items
{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
}

.pattern_box{
    width:60%;
    height: 500px;
}

.position_cls{
    position: absolute;
}



/* ====================   Mobile Responsive ( 576px)   ====================== */

@media (max-width: 576px) and (min-width: 300px) {
    
    .position_cls{
        position: unset;
    }
    
    .pattern_box{
        width:100%;
        height: 80%;
    }
  }
  
  /* ====================   Mobile Responsive ( 576px) end  ====================== */
  
  
  
  /* ====================   Tab Responsive ( 576px - 767px )   ====================== */
  
  @media (max-width: 767px) and (min-width: 577px) {
    
    .pattern_box{
        width:100%;
        height: 80%;
    }
  }
  /* ====================   Tab Responsive ( 576px - 767px ) end  ====================== */
  
  
  
  /* ====================   Large Screens ( 768px - 1023px )   ====================== */
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .pattern_box{
        width:60%;
        height: 80%;
    }
  }
  
  
  /* ====================   Large Screens ( 768px - 1023px ) end   ====================== */
  
  
  
  /* ====================   Large Screens ( 1024px )   ====================== */
  
  @media (min-width: 1024px) and (max-width: 1365px){
   
  
  }
  /* ====================   Large Screens ( 1024px ) end   ====================== */
  