.puz8-root
{
    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("./nicemars.jpg");
    font-family: consolas;
}
#butt
{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
#butt:hover{
    color: black;
    background: #9be15d;
    box-shadow: 0 0 10px #9be15d 0 0 40px #9be15d, 0 0 80 #9be15d;
    transition-delay: 1s;
}
#butt span{
    position: absolute;
    display: block;
}
#butt span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#9be15d);

}
#butt:hover span:nth-child(1)
{
    left: 100%;
    transition: 1s;
}
#butt span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#9be15d);

}
#butt:hover span:nth-child(3)
{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#butt span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#9be15d);

}
#butt:hover span:nth-child(2)
{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#butt span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#9be15d);

}
#butt:hover span:nth-child(4)
{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.puz8-top-left {
    position: absolute;
    top: 8px;
    /* left: 206px; */
    font-size: 169%;
    text-align: center;
}