.output {
    width: 20px;
    height: 20px;
    background: #ccc;
    display: inline-block;
    border-radius: 10px;
  }
.puz6-container
{
    display:grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto auto;
}