.Container_puz2
{
    /* background-image: url('../images/Wood.jpg'); */
    background-size: cover;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:inherit;
    border-radius: 10px;
    max-width: 33%;
    max-height: 33%;
  }
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 20px;
    
    font-size: 30px;
    text-align: center;
}
.draggable {
    display: flex;
    width: 100px;
    height:100px;
    background-color: yellow;
}