.Hints-Container{
    margin: 0;
    padding: 0;
    background-size: cover;
}
.sub-container{
    font-size: ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: cadetblue;
}
.book{
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    transform: perspective(2000px);
}
.book:hover{
    z-index: 1;
    transform:perspective(2000px);
    box-shadow: inset 10px 0 50px rgba(0,0,0,0.5);
}
.book .cover{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
}
.book:hover .cover{
    transform: rotateY(-135deg);
}
.book .cover img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.book .details{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
}
.details p,h2{
    padding: 10px;
}