/*body, html {
  height: 100%;
  margin: 0;
}

.bg {
 
  background-image: "C:/Users/Surendra/Desktop/PJ Work/Escape Game/Resources/Images/bg_login.jpg"  /* Full height */
  /*height: 100%; 

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/
/* .center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
} */
.bottom-cent {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
.form_login{
	/* width: 100px;
	height: 100px; */
  width: 20%;
  background: #a3543682;
  border: 1px solid #ff904f42;
  padding: 20px;
	position: absolute;
	/*top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;*/
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom-right-brackets
{
  /* position: absolute;
  bottom:0;
  right:100px;
  height:100px;
  width:100px; */
  margin: 12px 0 0;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.commander-img
{
  /* width: 70vw; */

  height: 40vh;
}
.Assign-root
{
  /* background-image:url('C:/Users/taran_rishit/Documents/escape-room/Escape-Game/public/images/bg_welcome.jpg'); */
  background-size: cover;
}
.puzzle-location
{
  
  display: grid;
  grid-template-columns: 34vw 34vw 34vw;
  grid-template-rows: 70vh 30vh ;
  /* background-color: green; */

  padding: 10px;
}
.bottom-left {
  
  
  grid-column: 1 / span 1;
  grid-row: 2 /span 1;
  display: flex;
  flex-flow: column;
  font-size: 30px;
  color: yellow;
  z-index: 1;
}
.bottom-right {
  grid-column: 3 / span 1;
  grid-row: 2 /span 1;
  display: flex;
  flex-flow: column;
  font-size: 30px;
  color: yellow;
  z-index: 1;
}
.bottom-center{
  grid-column: 3 / span 1;
  grid-row: 2 /span 1;
  display: flex;
  flex-flow: column;
  color: yellow;
  font-size: 30px;
  left: 48%;
  z-index: 1;
}


.top-left {
  position: absolute;
  height: 100%;
  top: 8px;
  left: 16px;
  font-size: 20px;
  color: white;
}

.top-right {
  position: absolute;

  top: 8px;
  right: 16px;
  
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.text-bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 30px;
  color: yellow;
}
.kenobi-bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 30px;
  color: yellow;
}

.kenobi-top-left {
  position: absolute;
  top: 8px;
  left: 24px;
  right: 24px;
  font-size: 20px;
  color: white;
}
.kenobi-bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 30px;
  color: yellow;
}

/* sushma css starts */


/* h1{
    font-size: 30px;
}

h2{
    font-size: 26px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 16px;
}

h6{
    font-size: 14px;
}

p{
    font-size: 14px;
} */

.button_white{
  background: #fff;
  border-radius: 5px;
  border: 0px;
  padding: 8px 18px;
  cursor: pointer;
  font-size: 26px;
}
.button_white:focus{
  outline: none;
}

/* home screen start*/
.home_banner_text{
  color: #000000;
  margin-top: 30px !important;
  font-style: initial;
  font-family: monospace;
}
.home_banner_subtext{
  color: #000000;
  font-size: 40px;
  margin-bottom: 10px;
  /* font-family: sans-serif; */
  font-weight: 600;
}
.home_banner_heading{
  color: #000000;
  font-size: 48px;
  /* font-family: sans-serif; */
  font-weight: 600;
  line-height: 48px;
  /* width: 70%;
  text-align: center;
  margin: 0 auto; */
}

/* home screen end*/


/* HomePuzzle start*/
.bg_text{
  display: flex;
  align-items: center;
  background-size: cover;
  height: 30vh;
  
}

.bg_inner_cont{
  padding: 16px 80px;
  display: flex;
}

.bg_banner_text{
  color: #ffa500;
  width: 76%;
  opacity:1.0;
  font-size: 19px;
   margin-bottom:0
}
.main_bg{
  width:100%;
  height: 100vh;
  display:block;
}


/* HomePuzzle start ends*/

.reset_button{
  color: #0000ff;
  background: aquamarine;
  padding: 10px 28px;
  font-size: 18px;
  border-radius: 5px;
  line-height: 20px;
  text-transform: capitalize;
  margin:20px 0;
}
.reset_button:focus{
  outline-width: 0;
}
.detail_button{
  background-color: indigo;
  border-radius: 5px;
  padding: 9px 15px;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  margin: 15px 0 20px 0;
}
.detail_button:focus{
  outline-width: 0;
}
/* ====================   Mobile Responsive ( 576px)   ====================== */

@media (max-width: 576px) and (min-width: 300px) {
  /* h1{
    font-size: 28px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 16px;
}

h6{
    font-size: 14px;
}

p{
    font-size: 12px;
} */
.home_banner_text{
  font-size: 12px;
}

.home_banner_subtext{
  color: #000000;
  font-size: 20px;
}

.home_banner_heading{
  color: #000000;
  font-size: 26px;
  line-height: 26px;
}

.form_login {
  width: 70%;
  top: 50%;
}
.main_bg{
  width:100%;
  height: 100%;
}

.bg_banner_text {
  width: 61%;
  font-size: 12px;
 }
.bg_text {
  height: 60vh;
}
.bg_inner_cont {
  padding: 15px 10px;
}
.button_white{
  font-size: 20px;
}


}

/* ====================   Mobile Responsive ( 576px) end  ====================== */



/* ====================   Tab Responsive ( 576px - 767px )   ====================== */

@media (max-width: 767px) and (min-width: 577px) {
  .bg_banner_text {
    width: 58%;
    font-size: 14px;
  }
  .bg_inner_cont {
    padding: 16px 40px;
  }
  .bg_text {
    height: 35vh;
    }
    .form_login {
    width: 70%;
    top: 50%;
    }



}
/* ====================   Tab Responsive ( 576px - 767px ) end  ====================== */



/* ====================   Large Screens ( 768px - 1023px )   ====================== */

@media (min-width: 768px) and (max-width: 1023px) {
  .bg_banner_text {
    width: 56%;
    font-size: 16px;
    margin-right: 14px;
   }
  .bg_text {
    height: 50vh;
  }
  .bg_inner_cont {
    padding: 22px 40px 0;
  }
  .form_login {
    width: 40%;
    top: 50%;
  }
}


/* ====================   Large Screens ( 768px - 1023px ) end   ====================== */



/* ====================   Large Screens ( 1024px )   ====================== */

@media (min-width: 1024px) and (max-width: 1365px){
  .bg_text {
    height: 40vh;
  }

  .form_login {
    width: 30%;
    /* top: 50%; */
  }

}
/* ====================   Large Screens ( 1024px ) end   ====================== */

/* sushma css ends */

