/*body, html {
  height: 100%;
  margin: 0;
}

.bg {
 
  background-image: "C:/Users/Surendra/Desktop/PJ Work/Escape Game/Resources/Images/bg_login.jpg"  /* Full height */
  /*height: 100%; 

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/
/* .center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
} */
.bottom-cent {
  position: fixed;
left: 50%;
bottom: 20px;
transform: translate(-50%, -50%);
margin: 0 auto;
}
.form_login{
	width: 100px;
	height: 100px;
	
	position: absolute;
	/*top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom-right-brackets
{
  position: absolute;
  bottom:0;
  right:100px;
  height:100px;
  /* width:100px; */
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.commander-img
{
  /* width: 70vw; */

  height: 40vh;
}
.Assign-root
{
  /* background-image:url('C:/Users/taran_rishit/Documents/escape-room/Escape-Game/public/images/bg_welcome.jpg'); */
  background-size: cover;
}
.puzzle-location
{
  
  display: grid;
  grid-template-columns: 34vw 34vw 34vw;
  grid-template-rows: 70vh 30vh ;
  /* background-color: green; */

  padding: 10px;
}
.bottom-left {
  
  
  grid-column: 1 / span 1;
  grid-row: 2 /span 1;
  display: flex;
  flex-flow: column;
  font-size: 30px;
  color: yellow;
  z-index: 1;
}
.bottom-right {
  grid-column: 3 / span 1;
  grid-row: 2 /span 1;
  display: flex;
  flex-flow: column;
  font-size: 30px;
  color: yellow;
  z-index: 1;
}
.bottom-center{
  grid-column: 3 / span 1;
  grid-row: 2 /span 1;
  display: flex;
  flex-flow: column;
  color: yellow;
  font-size: 30px;
  left: 48%;
  z-index: 1;
}


.top-left {
  position: absolute;
  height: 100%;
  top: 8px;
  left: 16px;
  font-size: 20px;
  color: white;
}

.top-right {
  position: absolute;

  top: 8px;
  right: 16px;
  
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.text-bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 30px;
  color: yellow;
}
.kenobi-bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 30px;
  color: yellow;
}

.kenobi-top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 20px;
  color: white;
}
.kenobi-bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 30px;
  color: yellow;
}